# pip install -r requirements.txt

# API
fastapi
uvicorn

# RAG & LLM
langchain
langchain-community
langchain-text-splitters
pydantic
faiss-cpu
sentence-transformers
llama-cpp-python
torch

# PDF Loader
pypdf