fastapi
uvicorn
pydantic
python-multipart
sentence-transformers
transformers
accelerate
pymupdf
numpy
faiss-cpu
torch --index-url https://download.pytorch.org/whl/cpu
torchvision --index-url https://download.pytorch.org/whl/cpu
torchaudio --index-url https://download.pytorch.org/whl/cpu